html, body {
  	height: 100%;
  	width: 100%;
  	margin: 0;
  	padding: 0;
  	background-color: #E9E5DC;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
    height: 100%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.mapstyle {
	background-color: #FFFFFF;
	margin: 5px;
	padding: 0px;
}

.containter {
  display: block;
  height: 100%;
  width: 100%;
}

#map {
  display: inline-block;
  float: right;
	height: 100vh;
  width: calc(100% - 300px);
}

.hidden {
  display: none;
}
.nav-bar {
  display: inline-block;
  float: left;
  height: 100vh;
  width: 300px;
  z-index: 1;
}

#search-bar {
  background-color: #b8b8b8;
  height: 50px;
}

#search-field {
  width: 296px;
  height: 48px;
  margin: 0 auto;
  font-size: 3em;
}

#location-list {
  list-style-type: none;
  color: black;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#location-list li{
  padding: 10px;
}

.selected {
  color: #FFE168;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#info-window {
  margin: -15px 0 -5px 0;
}