html,
body {
  	height: 100%;
  	width: 100%;
  	margin: 0;
  	padding: 0;
  	background-color: #e9e5dc;
}

/* Map */

#map {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.info-window {
  margin: -15px 0 0 0;
  max-width: 200px;
  overflow-x: hidden;
}

/****** Navigation side bar ******/

#nav-bar {
  background: rgba(128, 128, 128, 0.2);
  position: absolute;
  width: 245px;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
  margin-left: -235px;
  overflow: hidden;
  font-family: arial, "Helvetica Neue", helvetica, sans-serif
}

#nav-bar.open {
  transition: margin 0.3s;
  margin-left: 0;
}

#nav-bar.closed {
  transition: margin 0.3s;
  margin-left: -235px;
}

#hamburger {
  position: absolute;
  z-index: 1;
  margin: 3px 0 0 10px;
  width: 50px;
  height: 57px;
  background:rgba(128, 128, 128, 0.2);
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

#hamburger.open {
  transition: margin 0.3s;
  margin: 3px 0 0 245px;
}

#hamburger.closed {
  transition: margin 0.3s;
  margin: 3px 0 0 10px;
}

.icon {
  font-size: 75px;
  font-weight: bold;
  margin: -15px 0 0 0;
  color: rgba(128, 128, 128, 0.8);
}

/*** Search ***/

.search-cont {
  width: 225px;
  height: 43px;
  margin: 7px;
  overflow: hidden;
  border-radius: 2px;
}

.search-field {
  pointer-events: all;
  width: 225px;
  height: 43px;
  font-size: 1.4em;
  border: none;
  border-radius: 2px;
}

.search-status {
  width: 100%;
  display: block;
}

.search-button {
  border: none;
  color: white;
  width: auto;
  font-size: 14px;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.8);
  padding: 5px;
  margin-top: -6px;
  position: absolute;
  right: 17px;
  border-radius: 2px;
  pointer-events: all;
  cursor: pointer;
}

/*** Weather ***/

.weather {
  margin-top: 27px;
  height: 105px;
  font-weight: bold;
  /* Iterate text shadow to eliminate blur gradient and give thick outline effect */
  text-shadow: -2px 0 2px #e6e7e8, 0 2px 2px #e6e7e8, 2px 0 2px #e6e7e8, 0 -2px 2px #e6e7e8, -2px -2px 2px #e6e7e8, -2px 2px 2px #e6e7e8, 2px -2px 2px #e6e7e8, 2px 2px 2px #e6e7e8, -2px 0 2px #e6e7e8,
                0 2px 2px #e6e7e8, 2px 0 2px #e6e7e8, 0 -2px 2px #e6e7e8, -2px -2px 2px #e6e7e8, -2px 2px 2px #e6e7e8, 2px -2px 2px #e6e7e8, 2px 2px 2px #e6e7e8, -2px 0 2px #e6e7e8, 0 2px 2px #e6e7e8,
                2px 0 2px #e6e7e8, 0 -2px 2px #e6e7e8, -2px -2px 2px #e6e7e8, -2px 2px 2px #e6e7e8, 2px -2px 2px #e6e7e8, 2px 2px 2px #e6e7e8, -2px 0 2px #e6e7e8, 0 2px 2px #e6e7e8, 2px 0 2px #e6e7e8,
                0 -2px 2px #e6e7e8, -2px -2px 2px #e6e7e8, -2px 2px 2px #e6e7e8, 2px -2px 2px #e6e7e8, 2px 2px 2px #e6e7e8, -2px 0 2px #e6e7e8, 0 2px 2px #e6e7e8, 2px 0 2px #e6e7e8, 0 -2px 2px #e6e7e8,
                -2px -2px 2px #e6e7e8, -2px 2px 2px #e6e7e8, 2px -2px 2px #e6e7e8, 2px 2px 2px #e6e7e8;
}

.cur-condition {
  margin: -10px 0 0 5px;
  width: 100%;
  display: block;
}

.cur-cond-text {
  position: relative;
  top: -30px;
  padding-left: 5px;
  font-size: 18px;
  color:  #444;
  display: inline-block;

}

.temps {
  display: block;
  position: relative;
  top: -75px;
  width: 100%;
}

.temps p {
  display: inline-block;
  padding: 5px;
  font-size: 15px;
}

.temp {
  margin-left: 15px;
  color: #444;
}

.high-temp {
  color: #f30;
  margin-left: 10px;
}

.low-temp {
  color: #00b8e6;
}

/* Location list */

.filter-results {
  /* Set the height of the element so the list is scrollable when the content exceeds the remaining screen space */
  height: calc(100% - 150px);
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: visiblePainted;
  margin-top: -25px;
}

.location-list li{
  padding: 7px;
  cursor: pointer;
}

.location-list {
  list-style-type: none;
  color: black;
  margin: 0 0 0-25px;
  font-size: 1.1em;
  /* Iterate text shadow to eliminate blur gradient and give thick outline effect */
  text-shadow: -2px 0 2px white, 0 2px 2px white, 2px 0 2px white, 0 -2px 2px white, -2px -2px 2px white, -2px 2px 2px white, 2px -2px 2px white, 2px 2px 2px white, -2px 0 2px white,
                0 2px 2px white, 2px 0 2px white, 0 -2px 2px white, -2px -2px 2px white, -2px 2px 2px white, 2px -2px 2px white, 2px 2px 2px white, -2px 0 2px white, 0 2px 2px white,
                2px 0 2px white, 0 -2px 2px white, -2px -2px 2px white, -2px 2px 2px white, 2px -2px 2px white, 2px 2px 2px white, -2px 0 2px white, 0 2px 2px white, 2px 0 2px white,
                0 -2px 2px white, -2px -2px 2px white, -2px 2px 2px white, 2px -2px 2px white, 2px 2px 2px white, -2px 0 2px white, 0 2px 2px white, 2px 0 2px white, 0 -2px 2px white,
                -2px -2px 2px white, -2px 2px 2px white, 2px -2px 2px white, 2px 2px 2px white;
}

.selected {
  color: #ffe168;
  text-shadow: -2px 0 2px #444, 0 2px 2px #444, 2px 0 2px #444, 0 -2px 2px #444, -2px -2px 2px #444, -2px 2px 2px #444, 2px -2px 2px #444, 2px 2px 2px #444, -2px 0 2px #444,
                0 2px 2px #444, 2px 0 2px #444, 0 -2px 2px #444, -2px -2px 2px #444, -2px 2px 2px #444, 2px -2px 2px #444, 2px 2px 2px #444, -2px 0 2px #444, 0 2px 2px #444,
                2px 0 2px #444, 0 -2px 2px #444, -2px -2px 2px #444, -2px 2px 2px #444, 2px -2px 2px #444, 2px 2px 2px #444, -2px 0 2px #444, 0 2px 2px #444, 2px 0 2px #444,
                0 -2px 2px #444, -2px -2px 2px #444, -2px 2px 2px #444, 2px -2px 2px #444, 2px 2px 2px #444, -2px 0 2px #444, 0 2px 2px #444, 2px 0 2px #444, 0 -2px 2px #444,
                -2px -2px 2px #444, -2px 2px 2px #444, 2px -2px 2px #444, 2px 2px 2px #444;
}

#no-results {
  padding: 5px;
  color: white;
  text-shadow: -1px 0 1px #444, 0 1px 1px #444, 1px 0 1px #444, 0 -1px 1px #444, -1px -1px 1px #444, -1px 1px 1px #444, 1px -1px 1px #444, 1px 1px 1px #444, -1px 0 1px #444,
                0 1px 1px #444, 1px 0 1px #444, 0 -1px 1px #444, -1px -1px 1px #444, -1px 1px 1px #444, 1px -1px 1px #444, 1px 1px 1px #444, -1px 0 1px #444, 0 1px 1px #444,
                1px 0 1px #444, 0 -1px 1px #444, -1px -1px 1px #444, -1px 1px 1px #444, 1px -1px 1px #444, 1px 1px 1px #444, -1px 0 1px #444, 0 1px 1px #444, 1px 0 1px #444,
                0 -1px 1px #444, -1px -1px 1px #444, -1px 1px 1px #444, 1px -1px 1px #444, 1px 1px 1px #444, -1px 0 1px #444, 0 1px 1px #444, 1px 0 1px #444, 0 -1px 1px #444,
                -1px -1px 1px #444, -1px 1px 1px #444, 1px -1px 1px #444, 1px 1px 1px #444;
}

.hidden {
  display: none;
}